name: Deploy to production

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Inject .env from secrets
        run: echo "${{ secrets.ENV_FILE }}" > .env

      - name: Build app
        run: NODE_ENV=production bun run build

      - name: Generate Prisma client
        run: bun x prisma generate

      - name: Install 7-Zip
        run: sudo apt update && sudo apt install -y p7zip-full

      - name: Create archive
        run: |
          7z a ncorp.launcher.7z ./build/* ./prisma/ ./generated/ package.json .env ecosystem.config.json

      - name: Upload via SFTP
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: ./ncorp.launcher.7z
          target: /var/www/launcher/front/

      - name: Remote deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SFTP_HOST }}
          port: ${{ secrets.SFTP_PORT }}
          username: ${{ secrets.SFTP_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/launcher/front/
            export PATH=/home/lan/.bun/bin:$PATH

            /home/lan/.bun/bin/pm2 stop ecosystem.config.json || true
            
            rm -rf server client node_modules
            
            7z x ncorp.launcher.7z -y

            bun install

            bun x prisma migrate deploy
            bun x prisma generate

            /home/lan/.bun/bin/pm2 start ecosystem.config.json
            rm ncorp.launcher.7z
